body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffff;
    font-family: 'Go Mono', monospace;

}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffff;
}
